.playingPanel{
  width: 300px;
  height: 500px;
  background-color: green;
  float:left;
  display: inline;
}

.controlPanel{
  width: 300px;
  height: 500px;
  background-color: yellow;
  float:left;
  display: inline;
}